<mat-drawer-container class="container">
  <mat-drawer mode="side" opened class="sidebar">
    <div class="opac">
      <p class="p-login-msg">Bem-vindo a sua nova <i>experiência</i> de cursos online</p>
    </div>
  </mat-drawer>

  <mat-drawer-content>
    <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

      <mat-card class="box">
        <mat-card-header>
          <mat-card-title>Login</mat-card-title>
        </mat-card-header>

        <form class="form" #myform="ngForm" (ngSubmit)="onSubmit(myform)">
          <mat-card-content>
            <mat-form-field class="full-width">
              <input type="text" matInput placeholder="Usuário" name="usuario" ngModel>
            </mat-form-field>

            <mat-form-field class="full-width">
              <input type="password" matInput placeholder="Senha" name="senha" ngModel>
            </mat-form-field>
          </mat-card-content>
          <button mat-stroked-button color="primary" class="btn-block">Entrar</button>
        </form>

        <div class='col-md-4 offset-4 mt-5' *ngIf='this.isLogin'>
          <h1>You are logged in</h1>
          <button class='btn btn-outline-info' (click)='logout()'>Log-out</button>
        </div>

      </mat-card>

    </div>

  </mat-drawer-content>
</mat-drawer-container>